<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width-device-width, initial-scale=1, shrink-to-fit=no"> 
    
    <title>Enterprise Management System</title>  

    {% load static %}  
    <link rel='stylesheet' href="{% static 'bootstrap/css/bootstrap.css' %}" >
    <script src="{% static 'bootstrap.js' %}"></script>

</head>  
<body>  
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <img src="/static/android-chrome-192x192.png" alt="C3 Logo">
            <a class="navbar-brand" href="{% url 'enterprises:index'%}">Consumer Car Care</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">

                    <!-- <a class="nav-link active" aria-current="page" href="{% url 'enterprises:index'%}">Home</a> -->
                </div>           
            </div>
            {% if user.is_authenticated %}
                Hello, {{ user.username }}. 
                <a href="{% url 'users:logout' %}"><button class="btn btn-outline-primary" style="margin-left: 1.5em;">Log out</button></a>
            {% else %}
                <a href="{% url 'users:register' %}"><button class="btn btn-outline-primary" style="margin-left: 1em;">Register</button></a> 
                <a href="{% url 'users:login' %}"><button class="btn btn-outline-primary" style="margin-left: 1em;">Log in</button></a>
            {% endif %}

        </div>
    </nav>
</body>  
</html>
    {% block content %} to be overridden
    {% endblock content %}