{% extends "enterprises/base.html" %}
{% block content %} 

<br>
<div class="container">
    <div class = row>
        <div class="col-2"></div>
        <div class="col-8">
                <button type="button" class="btn btn-primary btm-block" style="width:100%">Claims</button>
        </div>
        <div class="col-2"></div>
    </div>
    <br>
    <div class = row>
        <div class="col-2"></div>
        <div class="col-8">
                <button type="button" class="btn btn-primary btm-block" style="width:100%">Inspections</button>
        </div>
        <div class="col-2"></div>
    </div>
</div>
{% endblock content %}