{% extends "enterprises/base.html" %}
{% block content %} 
<div class="container">
    <div class="row">
        <h1 style="font-weight: bold; text-align: center;">Claims</h1>
    </div>
    <br>
    <div class="row">
        <div class="col-3">
            <form>
                <div class="form-group">
                    <input  class="form-control" placeholder="Search claim">
                </div>
            </form>
            
        
        </div>
        <div class="col-1">
            <button class="btn btn-outline-primary">Search</button>
        </div>
        <div class="col-6"></div>
        <div class="col-2">
            <a href="{% url 'enterprises:newClaim' %}">
                <button class="btn btn-outline-primary">Create New Claim</button>
            </a>
            
        </div>
        
    </div>
    <table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Claim ID</th>
            <th scope="col">Claim Date</th>
            <th scope="col">Status</th>
            <th scope="col">Approval Date</th>
            <th scope="col">Warranty ID</th>
        </tr> 
    </thead>
    <tbody>
        <!-- {% for claim in Claim %}  
            <tr>
                <td>{{claim.id}}</td>
                <td>{{claim.claimDate}}</td>
                <td>{{claim.status}}</td>
                <td>{{claim.approvalDate}}</td>
                <td>{{claim.warranty}}</td>
            </tr>
        {% endfor %} -->
        
        
        <tr>
            <td>5</td>
            <td>04-05-2022</td>
            <td>Pending</td>
            <td>--</td>
            <td>3</td>
        </tr>
        <tr>
            <td>4</td>
            <td>04-02-2022</td>
            <td>Active</td>
            <td>--</td>
            <td>3</td>
        </tr>
        <tr>
            <td>3</td>
            <td>04-01-2022</td>
            <td>Approved</td>
            <td>04-02-2022</td>
            <td>2</td>
        </tr>
        <tr>
            <td>2</td>
            <td>03-31-2022</td>
            <td>Rejected</td>
            <td>--</td>
            <td>1</td>
        </tr>
        <tr>
            <td>1</td>
            <td>03-31-2022</td>
            <td>Approved</td>
            <td>04-01-2022</td>
            <td>1</td>
        </tr>
    </tbody>
</table>
</div>




{% endblock content %} 