{% extends "enterprises/base.html" %}
{% block content %} 
<div class="container">
    <div class="row">
        <h1 style="font-weight: bold; text-align: center;">Claims</h1>
    </div>
    <br>
    <div class="row">
        <div class="col-10">
            <form>
                <div class="form-group">
                    {{myFilter.form}}
                <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </form>
            
        </div>
        <div class="col-2">
            <a href="{% url 'enterprises:newClaim' %}">
                <button class="btn btn-outline-secondary">Create New Claim</button>
            </a>
            
        </div>
        
   
    <table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Claim ID</th>
            <th scope="col">Claim Date</th>
            <th scope="col">Status</th>
            <th scope="col">Approval Date</th>
            <th scope="col">Warranty ID</th>
        </tr> 
    </thead>
    <tbody>
        {% for claim in claims %}  
            <tr>
                <td>{{claim.pk}}</td>
                <td>{{claim.claimDate}}</td>
                <td>{{claim.status}}</td>
                <td>{{claim.approvalDate}}</td>
                <td>{{claim.warranty}}</td>
            </tr>
        {% endfor %}
        
        
        
    </tbody>
</table>
</div>




{% endblock content %} 