{% extends "enterprises/base.html" %}
{% block content %} 


<div class="container">
    <div class="row">
        <h1 style="font-weight: bold; text-align: center;">Inspections</h1>
    </div>
    <br>
    <div class="row">
        <div class="col-3">
            <form>
                <div class="form-group">
                    <input  class="form-control" placeholder="Search inspection">
                </div>
            </form>
            
        
        </div>
        <div class="col-1">
            <button class="btn btn-outline-primary">Search</button>
        </div>
        <div class="col-6"></div>
        <div class="col-2">
            <a href="{% url 'enterprises:newInspection' %}">
                <button class="btn btn-outline-primary">Create New Inspection</button>
            </a>
            
        </div>
        
    </div>
    <br>
    <table class="table table-striped table-responsive table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col">Inspection ID</th>
            <th scope="col">Inspection Date</th>
            <th scope="col">Inspector Name</th>
            <th scope="col">Data Entry Date</th>
            <th scope="col">Claim</th>
        </tr> 
    </thead>
    <tbody>
        {% for inspection in inspections %}  
            <tr>
                {{inspection}}
            </tr>
        {% endfor %} 

    </tbody>
</table>
</div>

<ul>
    {% for inspection in inspections %} 
    <li>
        {{inspection}}
    </li>
    {% endfor %} 
</ul>


        <!--
        <tr>
            <td>1</td>
            <td>04-01-2022</td>
            <td>Aaron Smith</td>
            <td>04-02-2022</td>
            <td>1</td>
        </tr>
        <tr>
            <td>2</td>
            <td>03-31-2022</td>
            <td>Amanda Brown</td>
            <td>04-03-2022</td>
            <td>1</td>
        </tr>
        <tr>
            <td>1</td>
            <td>04-03-2022</td>
            <td>Aaron Smith</td>
            <td>04-04-2022</td>
            <td>2</td>
        </tr>
        <tr>
            <td>1</td>
            <td>04-04-2022</td>
            <td>Bob Parr</td>
            <td>04-05-2022</td>
            <td>3</td>
        </tr>
        <tr>
            <td>1</td>
            <td>04-05-2022</td>
            <td>Bob Parr</td>
            <td>04-05-2022</td>
            <td>4</td>
        </tr>
        -->





{% endblock content %} 