{% extends "enterprises/base.html" %}
{% block content %}

<br>
<div class="container">
    <div class = row>
        <div class="col-2"></div>
        <div class="col-8">
                <button type="button" class="btn btn-primary btm-block" style="width:100%">Create Inspection</button>
        </div>
        <div class="col-2"></div>
    </div>
    <br>
    <div class = row>
        <div class="col-2"></div>
        <div class="col-8">
                <a href="{% url 'enterprises:claims' %}">
                <button type="button" class="btn btn-primary btm-block" style="width:100%">Search Inspections</button>
        </div>
        <div class="col-2"></div>
    </div>
<br>
<div class = row>
    <div class="col-2"></div>
    <div class="col-8">
            <button type="button" class="btn btn-primary btm-block" style="width:100%">View Inspections Schedule</button>
    </div>
    <div class="col-2"></div>
</div>
</div>
{% endblock content %}
