{% extends "enterprises/base.html" %}
{% block content %} 

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">
</script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js">
</script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">


<div class="container">
  <h1 style="font-weight: bold; text-align: center;">Inventory</h1>
<br /> 
<br /> 
<div class="row">
  <div class="col-3">
      <form>
          <div class="form-group">
              {{myFilter.form}}
          <button class="btn btn-outline-secondary" type="submit">Search</button>
          </div>
      </form>
      
  
  </div>
  <div class="col-1">
      
  </div>
  <div class="col-6"></div>
  <div class="col-2">
      <a href="{% url 'enterprises:newInventory' %}">
          <button class="btn btn-outline-secondary">Add New Inventory Item</button>
      </a>
      
  </div>
  
</div>
<!-- <div class="row">
  <div class="col-2">
    <form>
        <div class="form-group">
            <input  class="form-control" placeholder="Search name">
        </div>
    </form>
    

</div>
<div class="col-1">
    <button class="btn btn-outline-primary">Search</button>
</div>
<div class="col-3">
  <form>
      <div class="form-group">
          <input  class="form-control" placeholder="Search Serial Number">
      </div>
  </form>
</div>
<div class="col-1">
  <button class="btn btn-outline-primary">Search</button>
</div>
<div class="col-3">
  <form>
      <div class="form-group">
          <input  class="form-control" placeholder="Search Dealership">
      </div>
  </form>
</div>

<div class="col-1">
  <button class="btn btn-outline-primary">Search</button>
</div>
</div> -->
<!-- <div class="col-6"></div>
  <div style="width:250px;height:30px;border:1px solid #000; ">Name Search</div>

<div style="width:250px;height:30px;border:1px solid #000; ">Serial Number Search</div>

<div style="width:250px;height:30px;border:1px solid #000; ">Dealership Search</div>
</div> -->
  

<br /> 

<table class="table  table-striped" style="width:100%"> 
<!-- table-responsive table-hover -->
<thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Serial Number</th>
      <th scope="col">UPC Code</th>
      <th scope="col">Dealership</th>
    </tr>
  </thead>
  
  <tbody>
    {% for inventory in inventories %}  
            <tr>
                <td>{{inventory.name}}</td>
                <td>{{inventory.serialNumber}}</td>
                <td>{{inventory.upcCode}}</td>
                <td>{{inventory.dealership}}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
    
    


{% endblock content %} 