{% extends "enterprises/base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <h1 style="font-weight: bold; text-align: center;">Add New Inventory Item</h1>
    </div>
    <div class="d-flex justify-content-center">
        <form action="{% url 'enterprises:newInventory' %}" method='post' class="form-group">
    
            {% csrf_token %}     
            {{ form.as_p }}     
            <button name="submit" class="btn btn-secondary">Submit</button>   
            
        </form>
    </div>
   
    

</div>



{% endblock content %}