{% extends "enterprises/base.html" %}
{% block content %} 
<div class="container">
    <div class="row">
        <h1 style="font-weight: bold; text-align: center;">Warranties</h1>
    </div>
    <br>
    <div class="row">
        <div>
            <form>
                <div class="form-group">
                    {{myFilter.form}}
                <button class="btn btn-outline-secondary" type="submit">Search</button> 
            </form>
            
        
        </div>

        
    </div>
    <table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Warranty ID</th>
            <th scope="col">Inventory ID</th>
            <th scope="col">Brand</th>
            <th scope="col">Name</th>
        </tr> 
    </thead>
    <tbody>
        {% for warranty in warranties %}  
            <tr>
                <td>{{warranty.pk}}</td>
                <td>{{warranty.inventory}}</td>
                <td>{{warranty.brand}}</td>
                <td>{{warranty.name}}</td>
            </tr>
        {% endfor %}
      
    </tbody>
</table>
</div>




{% endblock content %} 