{% extends "learning_logs/base.html" %}
{% block content %}

<p>Learning Log</p>
<p>Learning Log helps you keep track of your learning, for any topic you're learning about.</p>

<table class="table">
	<caption>Videogame Console Sales</caption>
	<thead>
	<tr>
		<th scope="col">Manufacturer</th>
		<th scope="col">Console</th>
		<th scope="col">Year Released</th>
		<th scope="col">Units Sold</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td scope="row">Nintendo</td>
		<td>Switch</td>
		<td>2017</td>
		<td>103.5 million</td>
	</tr>
	<tr>
		<td scope="row">Sony</td>
		<td>PlayStation 5</td>
		<td>2020</td>
		<td>17.3 million</td>
	</tr>
	<tr>
		<td scope="row">Microsoft</td>
		<td>Xbox One</td>
		<td>2013</td>
		<td>51 million</td>
	</tr>
	<tr>
		<td scope="row">Sony</td>
		<td>PlayStation 4</td>
		<td>2013</td>
		<td>116.9 million</td>
	</tr>
	</tbody>
</table>

{% endblock content %}
